<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="col-md-12">
            <div class="row containercito">
                <div class="col-md-6 vertical-center">
                    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
                    <span class="vertical-align" style="font-size: 16px; text-align: center;">Mayoreo Cojutepeque</span>
                </div>
                <div class="col-md-6 vertical-center" style="text-align: right;">
                    <mat-icon class="offSesion" (click)="openDialogLogout()">power_settings_new</mat-icon>
                </div>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened>
        <mat-nav-list style="background-color: white;">
            <a mat-list-item [routerLink]="'/home/perfil'">
                <mat-icon class="micon">perm_contact_calendar</mat-icon>
                <span> Mi perfil </span>
            </a>
            <a *ngIf="rol == 'Administrador'" mat-list-item [routerLink]="'/home/usuarios'">
                <mat-icon class="micon">person_pin</mat-icon>
                <span> Usuarios </span>
            </a>
            <a mat-list-item [routerLink]="'/home/ventas'">
                <mat-icon class="micon">store_mall_directory</mat-icon>
                <span> Ventas </span>
            </a>
            <a mat-list-item [routerLink]="'/home/pendiente'">
                <mat-icon class="micon">description</mat-icon>
                <span> Facturas Pendientes </span>
            </a>
            <a mat-list-item [routerLink]="'/home/inventario'">
                <mat-icon class="micon">assignment</mat-icon>
                <span> Inventario </span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 95vh; overflow: auto;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>