<h1 mat-dialog-title>Agregar usuario</h1>
<div mat-dialog-content>
    <form style="margin-bottom: 40px;">
        <div class="row">
            <div class="col-md-3">
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Primer Nombre</mat-label>
                    <input matInput placeholder="Ingresa el primer nombre" [(ngModel)]="usuario.firstname" type="text" name="firstname">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Segundo Nombre</mat-label>
                    <input matInput placeholder="Ingresa el segundo nombre" [(ngModel)]="usuario.secondname" type="text" name="secondname">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Primer Apellido</mat-label>
                    <input matInput placeholder="Ingresa el primer apellido" [(ngModel)]="usuario.surname" type="text" name="surname">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Segundo Apellido</mat-label>
                    <input matInput placeholder="Ingresa el segundo apellido" [(ngModel)]="usuario.secondsurname" type="text" name="secondsurname">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Ingresa el username" type="text" [(ngModel)]="usuario.username" name="username">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <div class="input-field">
                    <mat-form-field appearance="fill" style="width: 85%;">
                        <mat-label>Contraseña</mat-label>
                        <input matInput type="password" [type]="hide ? 'password' : 'text'" [(ngModel)]="usuario.pass" name="pass">
                    </mat-form-field>
                    <span class="fa fa-eye" style="margin-left: 5px; font-size: 1.6em; font-weight: bold;" (click)="showHidenPass()"></span>
                </div>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Correo</mat-label>
                    <input matInput placeholder="Ingresa el correo" type="email" [(ngModel)]="usuario.email" name="email">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Telefono</mat-label>
                    <input matInput placeholder="Ingresa el telefono" type="text" [(ngModel)]="usuario.phone" name="phone">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Fecha de nacimiento</mat-label>
                    <input matInput placeholder="Ingresa fecha de nacimiento" type="date" [(ngModel)]="usuario.dateborn" name="dateborn">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Selecciona un rol</mat-label>
                    <mat-select [(ngModel)]="selectedRol" name="selectedRol">
                        <mat-option *ngFor="let rol of listaRoles" [value]="rol.value">
                            {{rol.description}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row" style="float: right;">
            <div class="example-button-row">
                <button mat-flat-button color="warn" (click)="onNoClick()" style="margin-right: 20px;">Cancelar</button>
                <button mat-flat-button color="primary" (click)="saveUser()">Guardar</button>
            </div>
        </div>
    </form>
</div>